.comisionDetails :global {
  padding-top: 96px;
  padding-bottom: 96px;

  .cardS1 {
    display: flex;
    flex-direction: column;
    gap: 7px;

    .icon {
      border-radius: 12px;
      background: #eaf6f2;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 25px;

      &.primary {
        background: theme("colors.primary");
      }
      &.secondary {
        background: theme("colors.primary");
      }
    }
  }

  .convert-percentage {
    border-radius: 24px;
    background: theme("colors.primary");
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 32px;
  }

  .important-notes {
    border-radius: 16px;
    border: 1px solid theme("colors.primary");
    background: #fff;

    padding: 25px;

    ul {
      li {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}
