@use "_mixins.scss" as *;

.checkout :global {
  .card {
    border-radius: 12px;
    border: 1px solid #f3f4f6;
    background: #fff;
    padding: 25px;
    margin-bottom: 40px;

    box-shadow:
      0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px -1px rgba(0, 0, 0, 0.1);

    .react-code-input {
      display: flex !important;
      align-items: center;
      justify-content: space-between;

      input {
        min-width: 72px;
        min-height: 72px;
        border-radius: 8px;
        border: 1px solid #838388;
        box-shadow: none !important;
        text-align: center;
        padding: 0 !important;

        @include small {
          min-width: 25px;
          min-height: 25px;
          font-size: 18px;
        }
      }
    }
  }

  .shipping-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;

    button {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      border: 2px solid #f3f4f6;
      font-size: 18px;
      font-weight: 600;
      transition: all 0.3s ease;
      background: #fff;
      color: #6b7280;
      cursor: pointer;

      &:hover {
        border-color: #f3f4f6;
        color: #111827;
        background: #f9fafb;
      }

      &.active {
        border-color: theme("colors.primary");
        background: rgba(157, 157, 161, 0.1);
        color: theme("colors.titlesColor");
      }
    }
  }
}