@use "_mixins.scss" as *;

.homePage :global {
  .hero-section {
    position: relative;

    .hero-bullet {
      width: 10px;
      height: 10px;
      background-color: #d1d5db;
      border-radius: 9999px;
      cursor: pointer;
      transition: all 0.3s ease;
      display: inline-block;
    }

    .hero-bullet-active {
      width: 32px;
      height: 10px;
      background-color: theme("colors.secondary");
      border-radius: 9999px;
    }
  }
}
